.areabox {
  @apply px-4 text-sm resize-none leading-loose placeholder-base-content/50;
  @apply border-2 border-base-300 bg-white rounded-lg text-base;
  &:focus {
    @apply outline-2 outline-offset-2;
  }
  &-ghost {
    @apply bg-transparent/5;
    &:focus {
      @apply bg-transparent outline-primary border-primary;
      box-shadow: none;
    }
  }
  &-primary {
    @apply border-primary;
    &:focus {
      @apply outline-primary;
    }
  }
  &-secondary {
    @apply border-secondary;
    &:focus {
      @apply outline-secondary;
    }
  }
  &-accent {
    @apply border-accent;
    &:focus {
      @apply outline-accent;
    }
  }
  &-info {
    @apply border-info;
    &:focus {
      @apply outline-info;
    }
  }
  &-success {
    @apply border-success;
    &:focus {
      @apply outline-success;
    }
  }
  &-warning {
    @apply border-warning;
    &:focus {
      @apply outline-warning;
    }
  }
  &-error {
    @apply border-error;
    &:focus {
      @apply outline-error;
    }
  }
  &-disabled,
  &:disabled,
  &[disabled] {
    @apply cursor-not-allowed border-base-200 bg-base-200 text-base-content/20 placeholder-base-content/20;
  }
}
