.tabs {
  .tab-labels {
    @apply relative gap-4 inline-flex cursor-pointer select-none flex-wrap items-center justify-center text-center dark:text-base-content/70;

    & > .tab-label {
      @apply text-current font-bold pb-2 transition-all duration-75 border-b border-transparent text-sm xl:text-xl;

      &.tab-active {
        @apply dark:text-primary border-b dark:border-primary;
      }
    }
  }
  .tab-content {
    @apply leading-10 text-lg min-h-[50vh] bg-white rounded-xl shadow p-10 mb-10;
  }
}
